---
layout: default
pagename: market
---
  <section class="py-7 py-md-9">
<div class="container">
    <div class="row">
        <div class="col-md-12">
<h3 style="text-align:center;white-space:pre-wrap;">Opelousas Makers Market</h3>
<p style="text-align:center;white-space:pre-wrap;" class="">Last Saturday of every month 8am - 1pm</p>

<p style="text-align:center;white-space:pre-wrap;" class="">Our goal of the Makers Market is to provide a place for St. Landry makers to display and sell their creations. We want to showcase a well curated collection of makers with locally hand crafted goods, the best home grown entertainment, chefs &amp; bakers offering mouthwatering dishes, balloon &amp; face painting artisans for the kids and much more. The Opelousas Downtown Makers Market has set forth to create a space and experience where visitors of all ages can see, taste, smell &amp; hear the best of what the area has to offer, in one location. </p>
<h2>
  MARKET RULES & FAQ
</h2>

<div class="accordion" id="accordionExample">
  {% for item in site.data.market-faq %}
  <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.index }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.index }}">
         {{item.question}}
        </button>
      </h2>
      <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.index }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{item.answer}}
        </div>
      </div>
    </div>
  
  {% endfor %}
</div>

<div class="form-wrapper">
  <p><b>Read Carefully First</b>
  <br/>
    We are a curated market, which means you need to apply to have a spot. This is only to prevent the market from being set up like a flea market. To participate in the Opelousas  Downtown Market, vendors with services must be locally owned. Applications are reviewed. Responses are sent out within a couple of days of the submitted application.  Please request access to our Facebook group page. Upon acceptance, your access to the group will be approved.   If you do not plan on being a part of the month you are applying in. Please put that in the notes.
  </p>
  <div class="form-inner-wrapper">
   <div data-paperform-id="af8yijme"></div><script>(function() {var script = document.createElement('script'); script.src = "https://paperform.co/__embed.min.js"; document.body.appendChild(script); })()</script>
  </div>
</div>
</div>
</div>
</div>
  </section>