<footer>
  <div class="container">
	<div class="footer-widgets">
	  <div class="row">

		<!-- FOOTER COLUMN 1: Logo & Description -->
		<div class="col-md-3">
		  <div class="foo-block">
			<div class="widget widget-footer widget_text">
			  <div class="textwidget">
				<p>
				  <img class="size-full" src="{{ site.data.nav.footer.logo.image }}" alt="{{ site.data.nav.footer.logo.alt }}">
				</p>
				<p>{{ site.data.nav.footer.logo.description }}</p>
			  </div>
			</div>
		  </div>
		</div>

		<!-- FOOTER COLUMN 2: Address -->
		<div class="col-md-3">
		  <div class="foo-block">
			<div class="widget widget-footer widget_text">
			  <h5 class="widgettitle"><span>{{ site.data.nav.footer.address.title }}</span></h5>
			  <div class="textwidget">
				{% for line in site.data.nav.footer.address.lines %}
				  <p>{{ line }}</p>
				{% endfor %}
			  </div>
			</div>
		  </div>
		</div>

		<!-- FOOTER COLUMN 3: Hours -->
		<div class="col-md-3">
		  <div class="foo-block">
			<div class="widget widget-footer widget_text">
			  <h5 class="widgettitle"><span>{{ site.data.nav.footer.hours.title }}</span></h5>
			  <div class="textwidget">
				{% for line in site.data.nav.footer.hours.lines %}
				  <p>{{ line }}</p>
				{% endfor %}
			  </div>
			</div>
		  </div>
		</div>

		<!-- FOOTER COLUMN 4: More Info Links -->
		<div class="col-md-3">
		  <div class="foo-block foo-last">
			<div class="widget widget-footer widget_text">
			  <h5 class="widgettitle"><span>{{ site.data.nav.footer.more_info.title }}</span></h5>
			  <div class="textwidget">
				<ul>
				  {% for link in site.data.nav.footer.more_info.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				  {% endfor %}
				</ul>
			  </div>
			</div>
		  </div>
		</div>

	  </div>
	</div>

	<!-- Copyright & Social -->
	<div class="copyright">
	  <div class="footer-copy">
		<p>Copyright ©{{ site.time | date: "%Y" }}, Java Square Cafe</p>
	  </div>
	  <ul class="footer-social">
		{% for social in site.data.nav.social_links %}
		  <li>
			<a class="social-{{ social.platform }}" href="{{ social.url }}" target="_blank">
			  <i class="{{ social.icon }}"></i>
			</a>
		  </li>
		{% endfor %}
	  </ul>
	</div>
  </div>

  <div class="scrollup">
	<a class="scrolltop" href="#"><i class="fa fa-chevron-up"></i></a>
  </div>
</footer>
