 <footer class="Footer" role="contentinfo" data-controller="FooterBreakpoints">

	  <div class="Footer-inner clear">

		<div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--top sqs-alternate-block-style-container empty" data-layout-label="Footer Top Blocks" data-type="block-field" data-updated-on="1508964429051" id="footerBlocksTop">
		  <div class="row sqs-row">
			<div class="col sqs-col-12 span-12"></div>
		  </div>
		</div>

		<div class="Footer-middle">
		  <div class="Footer-business">


			<div class="Footer-business-info">


			  <div class="Footer-business-info-item Footer-business-info-item--name">Java Square Cafe</div>
			  <div class="Footer-business-info-item">103 W Landry St,</div>
			  <div class="Footer-business-info-item">Opelousas, LA 70570,</div>
			  <div class="Footer-business-info-item Footer-business-info-item--country">US</div>



			  <a href="tel:(337) 678-1055 " rel="tel" class="Footer-business-info-item Footer-business-info-item--phone">(337) 678-1055 </a>
			  <a href="mailto:hello@javasquare.cafe" title="hello@javasquare.cafe" target="_blank" class="Footer-business-info-item Footer-business-info-item--email">hello@javasquare.cafe</a>

			</div>




			<div class="Footer-business-hours">
			  <div class="Footer-business-hours-heading">Hours</div>
			  <div class="Footer-business-hours-item">Mon 7am - 6pm</div>
			  <div class="Footer-business-hours-item">Tue 7am - 6pm</div>
			  <div class="Footer-business-hours-item">Wed 7am - 6pm</div>
			  <div class="Footer-business-hours-item">Thu 7am - 6pm</div>
			  <div class="Footer-business-hours-item">Fri 7am - 6pm</div>
			  <div class="Footer-business-hours-item">Sat 7am - 6pm</div>
			  <div class="Footer-business-hours-item">Sun 8am - 4pm</div>
			</div>



		  </div>

		  <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--middle sqs-alternate-block-style-container" data-layout-label="Footer Middle Blocks" data-type="block-field" data-updated-on="1551329253461" id="footerBlocksMiddle">
			<div class="row sqs-row">
			  <div class="col sqs-col-12 span-12">
				<div class="row sqs-row">
				  <div class="col sqs-col-6 span-6">
					<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_6_1510168793668_5147">
					  <div class="sqs-block-content">&nbsp;</div>
					</div>
				  </div>
				  <div class="col sqs-col-6 span-6">
					<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_6_1510168793668_5603">
					  <div class="sqs-block-content">&nbsp;</div>
					</div>
				  </div>
				</div>
				<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-d783778e6e4eda686708">
				  <div class="sqs-block-content">
					<h3 style="text-align:center;white-space:pre-wrap;">© 2019 Java Square Cafe</h3>
					<p style="text-align:center;white-space:pre-wrap;">103 W Landry St <br>Opelousas, Louisiana 70570</p>
					<p style="text-align:center;white-space:pre-wrap;" data-rte-preserve-empty="true"></p>
				  </div>
				</div>
				<div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-89eb86f369a1f8aef8a3">
				  <div class="sqs-block-content">




					<div data-animation-role="button" class="lightbox-handle-wrapper lightbox-handle-wrapper--align-center">
					  <button class="lightbox-handle sqs-system-button sqs-editable-button">

						Contact

					  </button>
					</div>


					<div class="form-wrapper hidden">
					  <div class="form-title"></div>
					  <div class="form-inner-wrapper">
						<form data-form-id="5bb904ac29f2cc31b47bdecf" data-success-redirect="" autocomplete="on" method="POST" action="https://helix-cymbals-c4fa.squarespace.com" onsubmit="return (function (form) {
  Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
	(new Y.Squarespace.FormSubmit(form)).submit({
	  formId: '5bb904ac29f2cc31b47bdecf',
	  collectionId: '',
	  objectName: 'footerBlocksMiddle'
	});
  });
  return false;
})(this);">

						  <div class="field-list clear">










							<fieldset id="name-yui_3_17_2_13_1508961471117_9462" class="form-item fields name required">

							  <legend class="title">
								Name

								<span class="required" aria-hidden="true">*</span>

							  </legend>


							  <div class="field first-name">
								<label class="caption">
								  <input class="field-element field-control" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First" aria-required="true" />
								  <span class="caption-text">First Name</span>
								</label>
							  </div>
							  <div class="field last-name">
								<label class="caption">
								  <input class="field-element field-control" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last" aria-required="true" />
								  <span class="caption-text">Last Name</span>
								</label>
							  </div>
							</fieldset>










							<div id="email-yui_3_17_2_13_1508961471117_9463" class="form-item field email required">

							  <label class="title" for="email-yui_3_17_2_13_1508961471117_9463-field">
								Email Address

								<span class="required" aria-hidden="true">*</span>

							  </label>


							  <input class="field-element" id="email-yui_3_17_2_13_1508961471117_9463-field" name="email" type="email" autocomplete="email" spellcheck="false" aria-required="true" />
							</div>










							<div id="text-yui_3_17_2_13_1508961471117_9464" class="form-item field text required">

							  <label class="title" for="text-yui_3_17_2_13_1508961471117_9464-field">
								Subject

								<span class="required" aria-hidden="true">*</span>

							  </label>


							  <input class="field-element text" type="text" id="text-yui_3_17_2_13_1508961471117_9464-field" aria-required="true" />
							</div>










							<div id="textarea-yui_3_17_2_13_1508961471117_9465" class="form-item field textarea required">

							  <label class="title" for="textarea-yui_3_17_2_13_1508961471117_9465-field">
								Message

								<span class="required" aria-hidden="true">*</span>

							  </label>


							  <textarea class="field-element " id="textarea-yui_3_17_2_13_1508961471117_9465-field" aria-required="true"></textarea>
							</div>










						  </div>






						  <div data-animation-role="button" class="form-button-wrapper form-button-wrapper--align-center">
							<input class="button sqs-system-button sqs-editable-button" type="submit" value="Submit" />
						  </div>



						  <div class="hidden form-submission-text">Thank you!</div>
						  <div class="hidden form-submission-html" data-submission-html=""></div>
						</form>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>


		  <nav class="Footer-nav" data-content-field="navigation">

			<div class="Footer-nav-group"><a href="tel:5555555555" target="_blank" class="Footer-nav-item">Call</a><a href="mailto:email@email.com" target="_blank" class="Footer-nav-item">Email</a><a href="news/index.html" class="Footer-nav-item">News</a></div>

		  </nav>

		</div>

		<div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--bottom sqs-alternate-block-style-container empty" data-layout-label="Footer Bottom Blocks" data-type="block-field" data-updated-on="1508360326705" id="footerBlocksBottom">
		  <div class="row sqs-row">
			<div class="col sqs-col-12 span-12"></div>
		  </div>
		</div>

	  </div>

	</footer>
