 <!-- FOOTER -->
<footer class="py-7 py-md-9 bg-dark-brown">
  <div class="container px-4">
	<div class="row gx-7">
	  <div class="col-sm-4">

		<!-- Heading -->
		<h5 class="text-xs text-primary">
		  About Java Square
		</h5>
		<!-- Text -->
		<p class="mb-6">
		 Java Square, nestled in the heart of historic downtown Opelousas, is more than just a cafe. It's a blend of rich history and modern coffee culture, housed in the iconic 1927 Parish & Trust Bank building. Venture inside and discover the old bank vault, now transformed into an intimate seating nook for our guests. 
		</p>

	  </div>
	  <div class="col-sm-4">

		<!-- Heading -->
		<h5 class="text-xs text-primary">
		  Contact info
		</h5>

		<!-- List -->
		<ul class="list-unstyled mb-6">
		  <li class="d-flex mb-2">
			<div class="fas fa-map-marker-alt me-3 mt-2 fs-sm"></div>
			<a href="https://goo.gl/maps/UwcHfyuvyTECuF999" target="_blank">{{site.address}}</a>
		  </li>
		  <li class="d-flex mb-2">
			<div class="fas fa-phone me-3 mt-2 fs-sm"></div>
			<a href="tel:{{site.phone}}" class="phone">{{site.phone}}</a>
		  </li>
		  <li class="d-flex">
			<div class="far fa-envelope me-3 mt-2 fs-sm"></div> <a href="mailto:{{site.email}}">{{site.email}}</a>
		  </li>
		</ul>

	  </div>
	  <div class="col-sm-4">

		<!-- Heading -->
		<h5 class="text-xs text-primary">
		  Opening hours
		</h5>

		<!-- Text -->
		<div class="mb-3 text-white">
		  <div class="text-xs">Monday - Thursday</div>
		  <div>7:00 AM - 6:00 PM</div>
		</div>

		<!-- Text -->
		<div class="mb-6 text-white">
		  <div class="text-xs">Saturday - Sunday</div>
		  <div>8:00 AM - 04:00 PM</div>
		</div>

	  </div>
	</div>
	<div class="row">
	  <div class="col-12">

		<!-- Copyright -->
		<div class="d-flex align-items-center text-white">
		  <hr class="hr-sm me-3" style="height: 1px;" /> &copy;{{ site.time | date: "%Y" }} {{site.name}}. All rights reserved.
		</div>

	  </div>
	</div>
  </div>
</footer>
<!-- TOAST -->
<div class="toast position-fixed bottom-0 start-50 translate-middle-x mb-3 mb-md-5" id="notification" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
	<div class="toast-body mx-auto"></div>
  </div>
</div>
