<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="shortcut icon" href="./assets/favicon/favicon.png">
<meta name="theme-color" content="#ffffff">

<!-- Libs CSS -->
<link rel="stylesheet" href="./assets/css/libs.bundle.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="./assets/css/theme.bundle.css" />
<link rel="stylesheet" href="./assets/css/custom.css" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<!-- Map -->
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' />
