<!-- HEADER -->
<header id="header-1" class="headerHolder header-1">
  <div class="nav-button-holder">
	<button type="button" class="nav-button"><span class="icon-bar"></span></button>
  </div>

  <!-- LOGO -->
  <div class="logo logo-1">
	<a href="{{ site.data.nav.logo.url }}">
	  <img class="img-fluid" src="{{ site.data.nav.logo.image }}" alt="{{ site.data.nav.logo.alt }}">
	</a>
  </div>

  <!-- MENU -->
  <nav class="nav-holder nav-holder-1">
	<ul class="menu-nav menu-nav-1">
	  {% for item in site.data.nav.menu %}
		<li class="menu-item{% if item.children %} menu-item-has-children{% endif %}">
		  <a href="{{ item.url }}">{{ item.title }}</a>
		  {% if item.children %}
			<ul class="sub-menu">
			  {% for child in item.children %}
				<li class="menu-item{% if child.children %} menu-item-has-children{% endif %}">
				  <a href="{{ child.url }}">{{ child.title }}</a>
				  {% if child.children %}
					<ul class="sub-menu">
					  {% for subchild in child.children %}
						<li class="menu-item"><a href="{{ subchild.url }}">{{ subchild.title }}</a></li>
					  {% endfor %}
					</ul>
				  {% endif %}
				</li>
			  {% endfor %}
			</ul>
		  {% endif %}
		</li>
	  {% endfor %}
	</ul>
  </nav>

  <!-- SOCIAL + CTA -->
  <div class="social-btn-top1">
	<ul class="social-media social-media1">
	  {% for social in site.data.nav.social_links %}
		<li>
		  <a class="social-{{ social.platform }}" href="{{ social.url }}" target="_blank">
			<i class="{{ social.icon }}"></i>
		  </a>
		</li>
	  {% endfor %}
	</ul>
	<div class="btn-header btn-header1">
	  <a href="{{ site.data.nav.cta.url }}" {% if site.data.nav.cta.url contains "http" %}target="_blank"{% endif %}class="view-more">{{ site.data.nav.cta.label }}</a>
	</div>
  </div>
</header>
<!-- /HEADER -->
