  <script src='/assets/js/jquery.js'></script>
<script src='/assets/js/jquery-migrate.min.js'></script>
<script src='/assets/css/bootstrap/js/popper.min.js'></script>
<script src='/assets/css/bootstrap/js/bootstrap.min.js'></script>
<script src='/assets/js/jquery.easing.min.js'></script>
<script src='/assets/js/jquery.fitvids.js'></script>
<script src='/assets/js/owl-carousel/owl.carousel.min.js'></script>
<script src='/assets/js/jquery.magnific-popup.min.js'></script>
<!-- MAIN JS -->
<script src='/assets/js/init.js'></script>
<!-- CONTACT FORM JS -->
<script src='/assets/js/jquery.form.min.js'></script>
<script src='/assets/js/contactform-home.js'></script>
<script src='/assets/js/custom.js'></script>
