<!doctype html>
<html lang="en">
  <head>
<!-- Styles -->
{% include head.html %}
</head>
<body>
{% include nav.html %}
   <!-- WELCOME -->
<header data-jarallax data-speed=".8" style="background-image: url(assets/img/hero.jpg);">
  <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
	<div class="container my-auto">
	  <div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 text-center">
		  <!-- Heading -->
		  <h1 class="display-1 text-white mb-4">
			Java Square
		  </h1>

		  <!-- Subheading -->
		  <p class="text-center text-white-75 mb-7">
			A unique cafe located in the heart of Los Angeles. Always fresh coffee and biscuits. Open for indoor dining and to-go orders.
		  </p>

		  <!-- Button -->
		  <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" href="#reservation">
			Make reservation
		  </a>

		</div>
	  </div>
	</div>
	<div class="container">
	  <div class="row">
		<div class="col-md">

		  <!-- Social links -->
		  <ul class="list-inline text-center text-md-start mb-3 my-md-5">
			<li class="list-inline-item">
			  <a class="text-white-75 text-primary-hover" href="https://facebook.com/javasquare" target="_blank">
				<i class="fab fa-facebook-f"></i>
			  </a>
			</li>
			<li class="list-inline-item ms-5">
			  <a class="text-white-75 text-primary-hover" href="https://instagram.com/javasquare" target="_blank">
				<i class="fab fa-instagram"></i>
			  </a>
			</li>
			<li class="list-inline-item ms-5">
			  <a class="text-white-75 text-primary-hover" href="https://tiktok.com/javasquarecafe" target="_blank">
				<i class="fab fa-tiktok"></i>
			  </a>
			</li>
		  </ul>

		</div>
		<div class="col-md">
		  <!-- Address -->
		  <p class="font-serif text-white-75 text-center text-md-end text-lg-end my-md-5">
			<i class="fas fa-map-marker-alt text-primary me-3"></i> 103 W. Landry ST. Opelousas LA, 70570
		  </p>

		</div>
	  </div>
	</div>
  </div>
</header>

 {{ content }}

{% comment %}
{% include footer.html %}   
{% endcomment %} 
{% include scripts.html %}         	
					
</body>
</html>